body {
	//	float:left;
	position:absolute;
	width:100%;
	margin:0;
	padding:0;
	background:#E0E0E0;
}

#footer {
	width:100%;
	height:30px;
	background:#20AA76;
}
.tst {
	width:100%;
	text-align:center;
}